ul li {
    display: inline-block;  
    border: 3px dotted #FA41D5;
    width: 150px;
    list-style-type: none;
    padding: 15px 15px 15px 25px;
    background-color:#51dbbf;
   width: 200px;
    text-align: center;
    }